
.main{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 10px;
}

.mode-btn{
    background: rgba(47, 255, 75, 0.377);
    padding: 10px;
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 8px;
    
}
.title{
    color: black;
}

.dark-mode{
    background: rgba(0, 0, 0, 0.459);

}
.light-mode{
    background-color: rgba(66, 65, 65, 0.425);
}
.card{
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.card img{
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 8px;
}

.input-primary{
    height: 3%;
    background-color: rgb(53, 52, 52);
    border-radius: 8px;
}

.btn{
    background: rgba(51, 50, 50, 0.452);
    padding: 10px;
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 8px;
}

